// https://cssanimation.rocks/clocks/

.clock {
    $diameter: 200px; // Default diameter
    $hand-color: #161a1d;
    $second-hand-color: blue;

    width: $diameter;
    height: $diameter;
    background: transparent;

    & ::after {
        background: $hand-color;
        border-radius: 50%;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 4%;
        height: 4%;
        z-index: 10;
    }

    & .dial {
        border-radius: 50%;
        background: white;
        min-height: 100%;
        min-width: 100%;
        position: relative;

        & div[class$="-container"] {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        & .second-container {
            // transition: transform 0.2s cubic-bezier(.4, 2.08, .55, .44);

            & .second-hand {
                background: $second-hand-color;
                height: 55%;
                left: 49.5%;
                position: absolute;
                top: 4%;
                transform-origin: 50% 80%;
                width: 1%;
                z-index: 3;
            }
        }

        & .minute-container {
            & .minute-hand {
                background: $hand-color;
                height: 40%;
                left: 49%;
                position: absolute;
                top: 10%;
                transform-origin: 50% 100%;
                width: 2%;
                z-index: 2;
            }
        }

        & .hour-container {
            & .hour-hand {
                background: $hand-color;
                height: 20%;
                left: 48.75%;
                position: absolute;
                top: 30%;
                transform-origin: 50% 100%;
                width: 2.5%;
                z-index: 1;
            }
        }
    }
}
