body {
}

.navbar {
	font-size: 1.5rem;
	font-weight: 300;
	padding-top: 50px;
	padding-bottom: 50px;
	text-transform: uppercase;
}

.navbar,
.content {
	padding-left: 25px;
	padding-right: 25px;
}

.navbar-links {
	text-align: right;
}

.navbar-links a {
	margin-left: 25px;
}

.navbar-links a:hover {
}

.copyright {
	color: #777;
	padding: 25px;
	text-align: center;
}

#home {
	height: 80vh;
	text-align: center;
	padding: 25px;
}

#about {
	height: 90vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

/* images */
#img-desk {
	margin-top: 50px;
}