body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #161a1d;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
}

a {
    color: #ddd;
    font-weight: bold;
}

a:hover {
    color: white;
}

#info {
    width: 400px;
    font-size: 1.5rem;
    margin: 30px auto;

    @media (max-width: 768px) {
        margin: 20px;
    }

    & h1,
    & div {
        font-weight: 300;
        margin: 0;
    }

    hr {
        width: 50px;
        margin-left: 5px;
        border: none;
        background: white;
        height: 3px;
    }

    & .social-media {
        margin-top: 20px;
        flex: 1;

        & a {
            flex-direction: row;
            flex-wrap: wrap;
            text-decoration: none;
            margin-right: 10px;

            & img {
                width: 50px;
            }
        }
    }

    & .bottom {
        margin-top: 20px;
        font-size: 1rem;
    }
}
